@use '../../style/var'

$keybindings-bar-height: 50px

.tui-post-list
  li
    padding: var.$spacing-base
  li.selected
    border: 1px solid var.$color-text

.home-page
  main
    margin-bottom: $keybindings-bar-height

  footer
    position: fixed
    bottom: 0
    left: 0
    right: 0
    height: $keybindings-bar-height
    background-color: #000000b3
    color: white
    padding: var.$spacing-base
    display: flex
    justify-content: center
    align-items: center
    gap: var.$spacing-base * 2
    z-index: 1

  div
    display: flex
    align-items: baseline

  kbd
    margin: var.$spacing-base
    font-weight: bold
    background-color: #ffffff33
    color: white
    padding: var.$spacing-xs / 2 var.$spacing-sm
    border-radius: 4px
    font-family: monospace

  span
    font-size: 0.9em // Slightly smaller font for description
